main {
    margin-top: 8vw;
    margin-bottom: 8vw;
  }
  
  .heading-container {
    padding: 2rem;
  }
  
  h1 {
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 2rem;
    margin-bottom: 3rem;
    background: linear-gradient(to bottom, var(--icon-color), var(--border-color));
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: var(--text-color);
    font-family: var(--heading-text);
  }
  
  
  .form-card {
    background-color: var(--card-color);
    border: 2px solid var(--border-color);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .form-card:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }
  
  .form-label {
    font-weight: bold;
    color: var(--text-color);
  }
  
  .form-control {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    padding: 0.75rem;
    background-color: #fff;
    transition: border 0.3s ease;
  }
  
  .form-control:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    border-radius: 5px;
    padding: 0.75rem;
    background-color: var(--btn-color);
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: var(--accent-color);
  }
  