/* Setting up Variables*/
:root {
  --bg-color: hsla(21, 21%, 85%, 1);
  --text-color: hsla(0, 0%, 20%, 1);
  --accent-color: hsl(21.29, 16.76%, 63.73%);
  --border-color: hsl(330, 4.76%, 91.76%);
  --btn-color: hsl(330, 4.76%, 91.76%);
  --tranparent-bg-color: hsla(21.29, 16.76%, 63.73%, 0.75);
  --heading-text: "Playfair Display", serif;
  --secondary-text: "Josefin Sans", sans-serif;
  --main-text: "Lora", serif;

  --gradient:
    linear-gradient(
      45deg,
      var(--bg-color),
      var(--accent-color)
    );
}



/*Home Styles*/
#carousel {
  margin: 3rem 0 !important;
}

/*#about {
  background-image: url(../resources/Images/DSC_7771.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid var(--border-color) 0.25rem;
  border-radius: 0.25rem;
  margin-top: 6rem;
}

.about-color {
  width: 100%;
  height: 100%;
  background-color: var(--tranparent-bg-color);
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
} */
.carousel {
  width: 65%;
}

@media (max-width: 876px){
  .carousel {
    width: 98%!important;
    margin-top: 1rem;
  }
}

.carousel-inner {
  border: solid var(--border-color) 0.25rem;
  border-radius: 0.25rem;
}

.carousel-item {
  width: 100%;
  height: auto;
}

.carousel-item img {
  height: auto;
  aspect-ratio: 1.5 / 1;
}

@media (max-width: 876px) {
  .carousel-item img {
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

/*picture img {
  border: solid var(--border-color) 0.15rem;
  border-radius: 0.25rem;
  width: 25rem;
}

h2,
p {
  text-shadow: 3px 1px hsla(0, 0%, 50%, 0.5);
}

.contact-btn {
    background-color: var(--border-color);
}

.contact-btn:hover{
    background-color: var(--accent-color);
}*/


