/* Setting up Variables*/
:root {
  --bg-color: linear-gradient(
    hsla(21, 21%, 85%, 1),
    hsl(21, 16%, 75%)
  );
  --text-color: hsl(21, 16%, 25%);
  --accent-color: hsl(21, 30%, 40%);
  --border-color: hsl(21, 16%, 70%);
  --btn-color: hsl(21, 40%, 45%);
  --card-color: hsl(21, 21%, 85%);
  --icon-color: hsl(5, 5%, 100%);
  --heading-text: "Playfair Display", serif;
  --secondary-text: "Josefin Sans", sans-serif;
  --main-text: "Lora", serif;
}


/*Universal Styles*/

* {
  box-sizing: border-box;
}

/*Fonts*/
h1,
h2,
h3 {
  font-family: var(--heading-text) !important;
  color: var(--text-color);
}

.nav-link {
  color: var(--card-color)!important;

}

p {
  font-family: var(--main-text) !important;
  color: var(--text-color);
}

/*Colors*/

body {
  background-color: var(--bg-color) !important;
}
header,
footer {
  background-color: var(--accent-color);
}

.icons {
  height: 2rem !important;
  background-color: var(--icon-color) !important;
  border: 1px, solid, var(--card-color) !important;
  border-radius: 50%;
}
