/* Default Light Theme */
:root {
    --bg-color: hsla(21, 21%, 85%, 1);
    --text-color: hsla(0, 0%, 20%, 1);
    --accent-color: hsl(21.29, 16.76%, 63.73%);
    --border-color: hsl(21.29, 16.76%, 63.73%);
    --btn-color: hsl(330, 4.76%, 91.76%);
    --heading-text: font-family: 'Playfair Display', serif;
    --secondary-text: font-family: 'Josefin Sans', sans-serif;
    --main-text: font-family: 'Lora', serif;
  }

  body {
    background-color: var(--bg-color)!important;
  }
  header {
    background-color: hsla(330, 4.76%, 91.76%);
  }

  #about {
    background-image: url(../resources/Images/placeholder5.webp);
  }

  section {
    margin: 6rem 0!important;
  }

  .about-color {
    width: 100%;
    height: 100%;
    background-color: hsla(21.29, 16.76%, 63.73%, 0.5);
    padding-left: 0!important;
    padding-right: 0!important;
    margin-left: 0!important;
    margin-right: 0!important;
  }

  h1, h2, h3 {
    font-family: var(--heading-text)!important;
    color: var(--text-color);
  }

  p {
    font-family: var(--main-text)!important;
    color: var(--text-color);
  }

  p .secondary, a {
    font-family: var(--secondary-text)!important;
    color: var(--text-color);
  }



  .icon {
    height: 1.75rem!important;
  }

  .carousel-inner{
    border: solid var(--border-color) 0.25rem;
    border-radius: 0.25rem;
    
  }

  .carousel-item{
    width: 100%;
    height: auto;
  }

  .carousel-item img {
    height: auto;
    aspect-ratio: 16 / 7.5;
  }

  picture img {
    border: solid var(--border-color) 0.15rem;
    border-radius: 0.25rem;
    width: 25rem;
  }

  h2, p {
    text-shadow: 3px 1px hsla(0, 0%, 50%, 0.5);
  }

